h1{
	text-align:center;
}
td{
	height:20px;
}
#table-1{
	width:100%;
	border-collapse:collapse;
}
#table-2{
	width:100%;
	border-collapse:collapse;
}

#table-3{
	width:100%;
	border-collapse:collapse;
}
