h1{
	text-align:center;
}
td{
	height:20px;
	border:1px solid black;
	padding:1px;
}
#table-1{
	width:100%;
	border-collapse:collapse;
	border:1px solid black;
	padding:1px;
	
}
#table-2{
	width:100%;
	border-collapse:collapse;
	border:1px solid black;
	padding:1px;
}

#table-3{
	width:100%;
	border-collapse:collapse;
	border:1px solid black;
	padding:1px;
}
.middle{
	border:1px solid black;
	padding:1px;
}
